$surface-darkgrey: #20252b;
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

* { all: unset; }

.layout-box {
  font-family: Phosphor, Koulen;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn_box {
  padding: 4em;
}

.widget_box {
  padding: 4em;
}

.time-box {
  font-size: 2em;
  margin: 4em;
}

.hour-box {
  font-size: 4em;
}

.minute-box {
  font-size: 2.5em;
}

.power-btn {
  font-size: 2em;
  padding: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.1em;
  &:hover {
    color: $surface-red;
  }
  background-color: rgba($surface-darkgrey, 1.0);

}

.close-btn {
  font-size: 2em;
  padding: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.1em;
  &:hover {
    color: $surface-red;
  }
}

.sep {
  font-size: 2em;
  color: $surface-lightgrey;
}

.sundial-lbl {
  font-size: 1.5em;
  padding: 0.8em;
}

.bat-box {
  padding: 0.8em;
  font-size: 1.5em;
}
.net-box {
  padding: 0.8em;
  font-size: 1.5em;
}

.bar_layout {
  font-family: JetBrainsMono Nerd Font;
  background-repeat: no-repeat;
  background-size: contain;
}

.status-bar {
  // font-size: 1em;
  // background-color: rgba($surface-red, 1.0);
  padding-left: 0.5em;
}

.window_title {
  font-size: 1em;
}

.right_tray {

  font-size: 1em;
  font-family: JetBrainsMono Nerd Font;
}

.idle_inhibitor_button {

  border-radius: 1em;
  // &:hover {
  //   color: $surface-red;
  //   background-color: $surface-darkgrey;
  // }
}

.idle_inhibitor_box {

  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.workspace_button {

  border-radius: 1em;
  &:hover {
    color: $surface-red;
    background-color: $surface-darkgrey;
  }
}

.workspace_entry_normal {

  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.workspace_entry_active {

  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  color: $surface-red;

}

.clock_date_class {
    font-size: 0.8em;
    margin: 0px 20px 0px 1px;
    color: #d7beda;
}

.cal {
  border-radius: 0.4em;
  background-color: #0f0f17;
  font-family: JetBrainsMono Nerd Font;
  font-size: 1.0em;
  font-weight: normal;

.cal-in {
    padding: 0px 10px 0px 10px;
    color: #bfc9db;

.cal {
     &.highlight {
          padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

.volbar trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}

.brightbar trough highlight {
  background-image: linear-gradient(to right, #e4c9af 30%, #f2cdcd 50%, #e0b089 100% *50);
  border-radius: 10px;
}

.volume_icon {
    font-size: 1.2em;
    color: #a1bdce;
  margin: 0px 10px 0px 10px;
}

.bright_icon {
    font-size: 1.2em;
    color: #e4c9af;
  margin: 0px 10px 0px 10px;
}

scale trough {
  all: unset;
  background-color: #22242b;
  box-shadow: 0 2px 3px 2px #06060b;
  border-radius: 0.5em;
  min-height: 8px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}

/** tooltip!! **/
tooltip.background {
    background-color: #0f0f17;
    font-size: 1em;
    border-radius: 10px;
    color: #bfc9db;
}

tooltip label {
    margin: 0.2em;
}


